<!-- Footer -->
<footer data-js="footer" class="l-page-footer" role="contentinfo">
  <section class='l-section page-footer'>

    <div class='l-site-width'>

      <div class='l-copy-width'>

        <h1>Say <a href="mailto:matt@dreamineering.com?Subject=Howzit" >Hi</a></h1>

        <h3 class="page-footer__banner">Hang a <span>big ?</span> over <span>everything!</span></h3>

        <p>
          dreamineering &copy; {{getYear}}
        </p>

        <div class="l-social">
          <div class="g-plusone" data-annotation="none">
        </div>

      </div>

    </div>

  </section>


</footer>
