<!-- Footer -->
<footer data-js="footer" class="__page-footer page-footer" role="contentinfo">
  <section class='__section'>

    <div class='_site-width'>

      <div class='_copy-width'>

        <p>
          weloverelove &copy; {{getYear}}
        </p>

        <div class="l-social">
          <div class="g-plusone" data-annotation="none">
        </div>


      </div>

    </div>

  </section>


</footer>
