<header class='l-section intro intro-{{mindset}}' role='banner'>

  <div clas='l-site-width l-intro l-intro--{{mindset}}'>

    <div class='l-copy-width'>

      <div class="l-brand brand">

        <p class='l-brand__tagline brand__tagline'>{{tagline}}</p>

        <div class="l-logo logo logo--white" >
          {{> logo}}
        </div>

        <h1 class='l-brand__title brand__title'>{{heading}}</h1>

      </div>

    </div>

  </div>

</header>
