<div class="overlay overlay-drmg">
  <nav class="overlay-drmg__nav">
    <ul>
      <li><a href="/unknown">Question</a></li>
      <li><a href="/dream">Dream</a></li>
      <li><a href="/engineering">Engineer</a></li>
      <li><a href="/reality">Reality</a></li>
      <li><a href="/story">Stories</a></li>
    </ul>
  </nav>
</div>
