<nav id='trigger-overlay' class='site-nav'>
  <div class="site-nav__bar">
    <a class='site-nav__logo site-nav__a' href="/">{{> logo }}</a>
    <a class="toggle" href="#">
      <div class="toggle__patty"></div>
    </a>
  </div>
</nav>
