
/* banner a full height banner */
.__banner--FH {
  height: 100%;
  z-index: 200;
  position: relative;
  margin: 0 auto;
}
.__banner__intro {
  position: relative;
  bottom: var(banner-BOTTOM-HEIGHT);
  height: 100%;
}
.__banner__welcome {
  position: absolute;
  left: 4%;
  bottom: 0;
  right: 4%;
  text-align: center;
}
.__banner__content {
  extend: .clearfix;
  position: relative;
  z-index: 200;
  top: -var(banner-BOTTOM-HEIGHT);
  height: 260px;
  padding-top: 50px;
  padding-bottom: 0;
}
.__banner__content--home {
  padding-top: 0;
  top: -200px;
}
.__banner__intro--home {
  bottom: 200px;
}

.banner--home {
  background: var(color-brand);
  background-size: cover;
  font-weight: light;
}
