

/* banner a full height banner */
.__banner--FH {
  height: 100%;
  z-index: 200;
  position: relative;
}
.__banner__intro {
  position: relative;
  bottom: 100px;
  height: 100%;
}
.__banner__welcome {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}
.__banner__brand {
  extend: .clearfix;
  position: relative;
  background-color: var(black);
  z-index: 200;
  top: -100px;
  height: 100px;
}

.banner-bg--home {
  /*background: #000 url(../img/bg/truck@1400x1120.png) no-repeat center center;*/
  background: #000;
  background-size: cover;
  font-weight: light;
}
