

:root {

  breakpoint-palm: min 28em;
  breakpoint-purse: min 480px;
  breakpoint-sofa: min 768px;
  breakpoint-desk: min 1200px;

  /* topcoat based */
  var-font-weight--cta: 500;
  var-overflow: hidden;
  var-radio-offset: -109px;
  var-radio-offset--checked: -74px;
  var-radio-width: 37px;
  var-radio-bgsize: var(radio-width);
  var-radio-height: 31px;
  var-radio-line-height: var(radio-height);
  var-radio-margin: 15px;

  var-font-size--textarea--large: 1.3rem;
  var-line-height--large: 1.3rem;
  var-margin: 0;
  var-bar-border-radius  : 12px;
  var-bar-width          : 250px;
  var-bar-height         : 1.25rem;
  var-progress-border-radius: 12px 0 0 12px;
  var-content--switch__label--left: 'ON';
  var-content--switch__label--right: 'OFF';
  var-margin-bottom--switch__toggle: -1px;
  var-margin-top--switch__toggle: -1px;
  var-transition--switch__toggle: margin-left 0.05s ease-in-out;
  var-margin-bottom--switch__toggle: -1px;
  var-margin-top--switch__toggle: -1px;
  var-padding--notification: 0.15em 0.5em 0.2em;
  var-margin--notification: 5px;

  /* Z INDEX */

  var-z-site-nav:        1000;
  var-z-site-nav__bar:   2000;
  var-z-nav-overlay:      380;


  /* FOOTER */

  var-footer-container-MB: 300px;


}
