{{> html}}

  <nav id='trigger-overlay' class='site-nav'>
    <div class="site-nav__bar">
{{!--       <a class='site-nav__logo site-nav__a' href="/">{{> logo }}</a> --}}
      <a class="toggle" href="#">
        <div class="toggle__patty"></div>
      </a>
    </div>
  </nav>

  <header class='__banner--FH' role='banner'>

    <div class='__banner__intro banner-bg--home'>

      <div class='l-site-width'>
        <div class='l-copy-width home'>

          <div class="__banner__welcome">

            <div class="__banner__logo">
              <p class="brand-logo u-lightText logo--white">{{> logo }}</p>
            </div>

            <div class="u-lightText">
              <h3 class="typography--WELCOME-HEADING">Follow the flow to chase your dream</h3>
            </div>

          </div>

        </div>
      </div>

    </div>

    <div class='__banner__brand'>

      <h1 class="brand--HEADING u-lightText">Dreamineering</h1>

    </div>

  </header>


  <div class='l-page-container'>

    <div class='l-content-container'>

      <div class='l-content content content--home' role='main'>

        <section id="the-problem" class='l-section intro intro--home' role='banner'>

          <div class='l-site-width l-intro l-intro--home'>

            <div class='l-copy-width'>

              <h2>Why Are You Here?</h2>

            </div>

            <blockquote>Whats <br>your problem?</blockquote>


            <div class='l-copy-width'>

              <p class='u-textCenter'>
                Use your frustration to explore your vision for a better solution then build your value proposition to navigate your dream's evolution.
              </p>

              <p class='u-textCenter u-paddingTl'>
                <a class='u-linkBorderBottom' href='./reality/the-problem'>Scratch that itch</a>
              </p>

            </div>

          </div>

        </section>

        <section id="the-dream" class='l-section dream'>

          <div class='l-site-width l-dream'>

            <div class='l-copy-width'>

              <h2>The Dream</h2>

            </div>

            <blockquote>What are <br>your beliefs?</blockquote>

            <div class='l-copy-width'>

              <p class='u-textCenter u-paddingTl'>
                <a class='u-linkBorderBottom' href='./dream/the-vision'>Free your mind</a>
              </p>

            </div>

          </div>

        </section>

        <section id="the-value" class='l-section u-colorRealityBG reality--value'>

            <div class='l-site-width l-reality'>

              <div class='l-copy-width'>

                <h2>Value</h2>

              </div>

              <blockquote>What has<br>to be done?</blockquote>

              <div class='l-copy-width'>

                <p class='u-textCenter'>
                  <a class='u-linkBorderBottom' href='./reality/the-value-proposition'>Define fulfillment</a>
                </p>

                {{{ contents }}}

              </div>

            </div>

        </section>


        <section id="the-culture" class='l-section dream-culture'>

            <div class='l-site-width l-culture'>

              <div class='l-copy-width'>

                <h2>Culture</h2>

              </div>

              <blockquote>Who is in<br>the crew?</blockquote>

              <div class='l-copy-width'>

                <p class='u-textCenter'>
                  <a class='u-linkBorderBottom' href='./dream/the-culture'>Start a movement</a>
                </p>

              </div>

            </div>

        </section>

        <section id="the-engineering" class='l-section flow'>

            <div class='l-site-width l-flow'>

              <div class='l-copy-width'>

                <h2>Engineering</h2>

              </div>

              <blockquote>How can you<br>execute your ideas?</blockquote>

              <p class='u-textCenter'>
                <a class='u-linkBorderBottom' href='./engineering/the-flow'>Find your flow</a>
              </p>

            </div>

        </section>


        <section id="the-substance" class='l-section engineering-substance'>

            <div class='l-site-width l-engineering'>

              <div class='l-copy-width'>

                <h2>Substance</h2>

              </div>

              <blockquote>Don't waste your words</blockquote>

              <div class='l-copy-width'>

                <p class='u-textCenter'>
                  <a class='u-linkBorderBottom' href='./engineering/the-substance'>Sculpt your message</a>
                </p>

              </div>


            </div>

        </section>

        <section id="the-structure" class='l-section engineering-structure'>

            <div class='l-site-width l-engineering'>

              <div class='l-copy-width'>

                <h2>Structure</h2>

              </div>

              <blockquote>Lead with your headlines</blockquote>

              <div class='l-copy-width'>

                <p class='u-textCenter'>
                  <a class='u-linkBorderBottom' href='./engineering/the-structure'>Build on solid foundations</a>
                </p>

              </div>

            </div>

        </section>

        <section id="the-connection" class='l-section engineering-connection'>

            <div class='l-site-width l-engineering'>

              <div class='l-copy-width'>

                <h2>Connection</h2>

                <blockquote>Enter the wider consciousness</blockquote>

              </div>

              <div class='l-copy-width'>

                <p class='u-textCenter'>
                  <a class='u-linkBorderBottom' href='./engineering/the-connection'>Connect the pipes</a>
                </p>

              </div>

            </div>

        </section>


        <section id="the-facts" class='l-section reality-facts'>

            <div class='l-site-width l-reality'>

              <div class='l-copy-width'>

                <h2>Reality</h2>

              </div>

              <blockquote>Are you creating enough value?</blockquote>

              <div class='l-copy-width'>

                <p class='u-textCenter'>
                  <a class='u-linkBorderBottom' href='./reality/the-facts'>Measure your results</a>
                </p>

              </div>

            </div>

        </section>

        <section id="the-beginners-mind" class='l-section unknown-questions'>

            <div class='l-site-width l-unknown'>

              <div class='l-copy-width'>

                <h2>The Unknown</h2>

              </div>

              <blockquote>Always be asking questions</blockquote>

              <div class='l-copy-width'>

                <p class='u-textCenter u-paddingTl'>
                  <a class='u-linkBorderBottom' href='./unknown/the-beginners-mind'>Rest, Reflect, Repeat</a>
                </p>

              </div>

            </div>

        </section>

        {{> m_overlay_nav }}

    </div>



  </div>


  {{> footer }}


{{> close}}
