{{> html}}

  {{> m_overlay_nav_header }}

  <div class='l-page-container'>

    <div class='l-content-container'>

      <div class='l-content content' role='main'>

        {{> header--page }}

        <section class='l-section'>

          <div class='l-site-width l-dream'>

            <div class='l-copy-width'>

              {{{ contents }}}

            </div>

          </div>

        </section>

      </div>

    </div>

  </div>

  {{> m_overlay_nav }}

  {{> footer }}

{{> close}}
