{{> html}}

  {{> m_overlay_nav_header }}

  <div class='l-page-container'>

    <div class='l-content-container'>

      <div class='l-content content content--story' role='main'>

        <section class='l-section intro'>

          <div class='l-site-width l-intro'>

            <div class='l-copy-width'>

              <h1 class='intro__heading'>My Story Intro</h1>

              <p>Set the scene</p>

              <p>Questions to resolve</p>

              <p>Whether engineering the dream or dreaming up the engineering, big dreams will get you moving but engineering builds belief.</p>

              <ul>
                <li>question 1</li>
                <li>question 2</li>
                <li>question 3</li>
                <li>question 4</li>
              </ul>

            </div>

          </div>

        </section>

        <section class='l-section dream'>

          <div class='l-site-width'>

            <div class='l-copy-width'>

              {{{ contents }}}

            </div>

          </div>

        </section>

        <section class='l-section engineering'>

          <div class='l-site-width'>

            <div class='l-copy-width'>

              <h2>How things were done</h2>

              <p>This is how we worked on solving the problem</p>

            </div>

          </div>

        </section>


        <section class='l-section engineering2'>

          <div class='l-site-width'>

            <div class='l-copy-width'>

              <h2>Reflections</h2>

              <p>Some commentary on how we worked</p>

              <h3>An h3 heading</h3>

              <p>some more thoughts</p>

            </div>

          </div>

        </section>


        <section class='l-section reality'>

          <div class='l-site-width'>

            <div class='l-copy-width'>

              <h2>We thought this</h2>

              <p>We found these results</p>

            </div>

          </div>

          <blockquote>
            Then somebody made an important discovery
          </blockquote>

          <div class='l-site-width'>

            <div class='l-copy-width'>

              <h2>Then this happened</h2>

              <p>It was like this</p>

            </div>

          </div>

        </section>


        <section class='l-section unknown'>

          <div class='l-site-width'>

            <div class='l-copy-width'>

              <h2>What next?</h2>

              <p>We found these results</p>

            </div>

          </div>

        </section>


      </div>

    </div>

    {{> footer }}

  </div>



{{> close}}
