



.l-intro {
  z-index: 10;
  padding-top: 1em;
}
.intro {
  background-color: var(intro-bg-color);
  color: var(light-text);
}

.intro__heading {
  text-align: center;
  /*text-transform: uppercase;*/
  font-size: 30px;
}
.intro__heading p {
  font-size: .45em;
  margin-bottom: 0;
}
@media palm-and-up {
  .intro__heading {
    font-size: 40px;
  }
}





/*  .unknown__a {
    color: inherit;
    border-bottom: 4px solid;
  }
  .unknown__a:hover {
    color: inherit;
    border-bottom: 1px solid transparent;
  }*/
