html, body {
  height: 100%;
}


.l-page-container {
  /*height: 100%;*/
}


.l-content-container {
  position: relative;
  z-index: 200;
  height: 100%;
  margin-bottom: 0;
  background-color: #FFF;
}
/*
 * The following works in conjuntion with the footer
 * so make sure media queries and heights are aligned
 */
@media desk-and-up {
  .l-content-container   {
    margin-bottom: var(footer-container-MB);
  }
}


.l-content {
  margin: 0 auto;
  height: 100%;
}

.l-section {
  padding: 50px 0;
}
.l-section > *:last-child,
.l-section > *:last-child > *:last-child,
.l-section > *:last-child > *:last-child > *:last-child {
  margin-bottom: 0;
}



.l-site-width {
  extend: .clearfix;
  margin: 0 auto;
  width: 85%;
}
@media purse-and-up {
  .l-site-width {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    clear: left;
  }
}



.l-copy-width {
  width: 100%;
}
@media purse-and-up {
  .l-copy-width {
    width: 83%;
    margin: 0 auto;
  }
}


/*.l-nav-header {
  position: fixed;
  z-index: 3;
  width: 100%;
  left: 0;
  top: 0;
}
*/


