/*@font-face {
  font-family: 'BebasNeueRegular';
  src: url('../fonts/BebasNeue-webfont.eot?') format('eot'),
       url('../fonts/BebasNeue-webfont.woff') format('woff'),
       url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
       url('../fonts/BebasNeue-webfont.svg#webfontfvFLBU0N') format('svg');
  font-weight: normal;
  font-style: normal;
}*/


@font-face {
  font-family: "Source Sans Pro";
  src: url('../fonts/SourceSansPro-Regular.otf');
}
@font-face {
  font-family: "Source Sans Pro";
  src: url('../fonts/SourceSansPro-Light.otf');
  font-weight: 200;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url('../fonts/SourceSansPro-Semibold.otf');
  font-weight: 600;
}
